.parte1{
 margin-left: 3%;
 margin-top: 2%;
}

.parte2{
 margin-top: -2%;
}

.parte3{
 margin-top: -2.5%;
}

.parte4{
 margin-top: -2%;
}

.parte5{
 margin-top: -2%;
}

.parte7{
 margin-top: -2%;
}
